.mainApp {
  background-color: #3c3c3c;
}

.grid {
  max-width: 120rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.cardDesign {
  text-align: center;
  margin: 15px;
  padding: 15px;
  border: 1px solid black;
  color: white;
  background-color: black;
}
